{% block lgw_dashboard %}
    <template v-if="!isNew && !trialExpired && !trialLoading && !isLoading">
        <lgw-dashboard-home></lgw-dashboard-home>
    </template>
    <template v-else-if="isNew && !trialLoading && !isLoading">
        <div>
            <lgw-dashboard-connexion></lgw-dashboard-connexion>
        </div>
    </template>
    <template v-else-if="trialExpired && !trialLoading && !isLoading">
        <lgw-dashboard-free-trial></lgw-dashboard-free-trial>
    </template>
    <template v-else>
        <sw-page :showSearchBar="false">
            <template #content>
                <sw-loader size="50px"></sw-loader>
            </template>
        </sw-page>
    </template>
{% endblock %}
