{% block lgw_dashboard %}
    <sw-page :showSearchBar="false">
        {% block lgw_dashboard_smart_bar_header %}
            <template #smart-bar-header>
                {% block lgw_dashboard_smart_bar_header_title %}
                    <h2>
                        {% block lgw_dashboard_smart_bar_header_title_text %}
                            {{ $tc('lengow-connector.page.dashboard') }}
                            <template v-if="!trialExpired && !isLoading">
                                <lgw-debug-warning></lgw-debug-warning>
                                <lgw-update-warning v-if="newVersionIsAvailable"
                                                    :pluginData="pluginData"
                                                    :onClickDownload="openUpdateModal">
                                </lgw-update-warning>
                                <lgw-free-trial-warning v-if="freeTrialEnabled"
                                                        :accountStatusData="accountStatusData">
                                </lgw-free-trial-warning>
                            </template>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block lgw_dashboard_content %}
            <template #content>
                <template v-if="!trialExpired && !isLoading">
                    <lgw-dashboard-home></lgw-dashboard-home>
                    <lgw-update-modal v-if="showUpdateModal"
                                      :pluginData="pluginData"
                                      :onClickClose="closeUpdateModal">
                    </lgw-update-modal>
                </template>
                <template v-else-if="trialExpired && !isLoading">
                    <lgw-dashboard-free-trial></lgw-dashboard-free-trial>
                </template>
                <template v-else>
                    <sw-loader size="50px"></sw-loader>
                </template>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
