{% block lgw_dashboard_connexion %}
    <template>
        <div class="lgw-dashboard-connexion">
            <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
            <iframe id="lgw-sync-iframe"
                    title="Lengow Iframe"
                    :src="iframeSource"
                    frameborder="0"
                    border="0"
                    @load="onLoadIframe"
                    cellspacing="0"
                    sandbox="allow-same-origin allow-scripts allow-forms">
            </iframe>
        </div>
    </template>
{% endblock %}
strict-dynamic
