{% block lengow_dashboard %}
            <template>
                <div style="background: #F1F1F1">
                    <div class="lgw-container">
                        <div class="lgw-row">
                            <div class="lgw-box lgw-home-header text-center">
                                <img :src="'connector/lengow-white-big.png' | asset" alt="lengow" class="img-responsive">
                                <h1 style="color: white">{{ $tc('lengow-connector.dashboard.banner.title') }}</h1>
                                <sw-button :disabled="false" :square="false" :block="false" :isLoading="false" style="margin-top: 15px" class="lgw-btn">
                                    {{ $tc('lengow-connector.dashboard.banner.button') }}
                                </sw-button>
                            </div>
                        </div>
                        <div class="lgw-row lgw-home-menu text-center">
                            <div class="lgw-col-4 lgw-box-link lgw-left-block">
                                <routerLink :to="{ name: 'lengow.connector.export' }" tag='span'>
                                    <div class="lgw-box">
                                        <img :src="'connector/home-products.png' | asset" class="img-responsive">
                                        <h2>{{ $tc('lengow-connector.dashboard.products.title') }}</h2>
                                        <p>{{ $tc('lengow-connector.dashboard.products.desc') }}</p>
                                    </div>
                                </routerLink>
                            </div>
                            <div class="lgw-col-4 lgw-box-link">
                                <routerLink :to="{ name: 'lengow.connector.order' }" tag='span'>
                                    <div class="lgw-box">
                                        <img :src="'connector/home-orders.png' | asset" class="img-responsive">
                                        <h2>{{ $tc('lengow-connector.dashboard.orders.title') }}</h2>
                                        <p>{{ $tc('lengow-connector.dashboard.orders.desc') }}</p>
                                    </div>
                                </routerLink>
                            </div>
                            <div class="lgw-col-4 lgw-box-link lgw-right-block">
                                <routerLink :to="{ name: 'lengow.connector.settings' }" tag='span'>
                                    <div class="lgw-box">
                                        <img :src="'connector/home-settings.png' | asset" class="img-responsive">
                                        <h2>{{ $tc('lengow-connector.dashboard.settings.title') }}</h2>
                                        <p>{{ $tc('lengow-connector.dashboard.settings.desc') }}</p>
                                    </div>
                                </routerLink>
                            </div>
                        </div>
                        <div class="lgw-row">
                            <div class="lgw-box">
                                <h2>{{ $tc('lengow-connector.dashboard.help.title') }}</h2>
                                <a>{{ $tc('lengow-connector.dashboard.help.contact') }}</a>
                                <p><a href="https://supportlengow.zendesk.com/hc/en-us/articles/360012203311">{{ $tc('lengow-connector.dashboard.help.helpCenterLink') }}</a> {{ $tc('lengow-connector.dashboard.help.helpCenter') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
{% endblock %}
