.lgw-legal-notices {
  background: #F1F1F1;
}

.lgw-legal-notices .lgw-box {
  display: block;
  border-radius: 3px;
  padding: 45px 60px 70px 60px;;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.05);
  margin: 30px 0;
  position: relative;
  top: 0;
  background: white;
}
