{% block lgw_order_type_icon %}
    <template>
        <div class="lgw-order-type-icon" :class="iconColorClass">
            <span class="lgw-order-type-img" :class="iconModClass" :title="iconLabel"></span>
        </div>
    </template>
{% endblock %}