{% block lgw_dashboard_home %}
    <div class="lgw-dashboard-home">
        <div class="lgw-container">
            <div class="lgw-row">
                <div class="lgw-box lgw-dashboard-home-header text-center">
                    <img :src="assetFilter('lengowconnector/lengow-white-big.png')" alt="lengow" class="img-responsive">
                    <h1>{{ $tc('lengow-connector.dashboard.banner.title') }}</h1>
                    <sw-button :disabled="false"
                               :square="false"
                               :block="false"
                               :isLoading="false"
                               class="lgw-btn"
                               target="_blank"
                               :link="lengowEnvironmentUrl">
                        {{ $tc('lengow-connector.dashboard.banner.button') }}
                    </sw-button>
                </div>
            </div>
            <div class="lgw-row lgw-home-menu text-center">
                <div class="lgw-col-4 lgw-box-link lgw-left-block">
                    <router-link :to="{ name: 'lengow.connector.product' }" custom v-slot="{ navigate }">
                        <div class="lgw-box" @click="navigate" role="link">
                            <img :src="assetFilter('lengowconnector/home-products.png')" class="img-responsive">
                            <h2>{{ $tc('lengow-connector.dashboard.products.title') }}</h2>
                            <p>{{ $tc('lengow-connector.dashboard.products.desc') }}</p>
                        </div>
                    </router-link>
                </div>
                <div class="lgw-col-4 lgw-box-link">
                    <router-link :to="{ name: 'lengow.connector.order' }" custom v-slot="{ navigate }">
                        <div class="lgw-box" @click="navigate" role="link">
                            <img :src="assetFilter('lengowconnector/home-orders.png')" class="img-responsive">
                            <h2>{{ $tc('lengow-connector.dashboard.orders.title') }}</h2>
                            <p>{{ $tc('lengow-connector.dashboard.orders.desc') }}</p>
                        </div>
                    </router-link>
                </div>
                <div class="lgw-col-4 lgw-box-link lgw-right-block">
                    <router-link :to="{ name: 'lengow.connector.setting' }" custom v-slot="{ navigate }">
                        <div class="lgw-box" @click="navigate" role="link">
                            <img :src="assetFilter('lengowconnector/home-settings.png')" class="img-responsive">
                            <h2>{{ $tc('lengow-connector.dashboard.settings.title') }}</h2>
                            <p>{{ $tc('lengow-connector.dashboard.settings.desc') }}</p>
                        </div>
                    </router-link>
                </div>
            </div>
            <div class="lgw-row">
                <div class="lgw-box">
                    <h2>{{ $tc('lengow-connector.dashboard.help.title') }}</h2>
                    <p>
                        <router-link class="lgw-router-link" :to="{ name: 'lengow.connector.contact' }">
                            {{ $tc('lengow-connector.dashboard.help.contact') }}
                        </router-link>
                    </p>
                    <br/>
                    <p>
                        <a :href="helpCenterLink" target="_blank">
                            {{ $tc('lengow-connector.dashboard.help.help_center_link') }}
                        </a>
                        {{ $tc('lengow-connector.dashboard.help.help_center') }}
                    </p>
                </div>
            </div>
            <lgw-footer>
            </lgw-footer>
        </div>
    </div>
{% endblock %}
