{% block lgw_country_icon %}
    <template>
        <div style="position: relative">
            <img v-show="!isLoading"
                 @load="loaded"
                 :src="'connector/flag/'+countryIso+'.png' | asset"
                 :alt="countryName"
                 :title="countryName">
            <sw-loader v-show="isLoading" size="14px"></sw-loader>
        </div>
    </template>
{% endblock %}