.lgw-update-warning {
    color: white;
    background: #00349c;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    float: right;
}

.lgw-update-warning a:link {
    color: white;
    background-color: transparent;
}
.lgw-update-warning a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
