.lgw-description-list-element .lgw-check-green {
  color: #37d046;
}

.lgw-description-list-element .lgw-check-red {
  color: #de294c;
}

.lgw-description-list-element button {
  cursor: auto;
  margin: 2px;
}