{% block lgw_setting_import %}
    <sw-card-view class="lgw-setting-import">
        {% block lgw_setting_import_marketplaces %}
            <sw-card :title="$tc('lengow-connector.setting.title.marketplaces')">
                <sw-help-text class="lgw-help-text"
                              :text="$tc('lengow-connector.setting.lengow_import_setting.ship_mp_enabled.description')"
                              :width="200"
                              tooltipPosition="right"/>
                <sw-switch-field class="text-center"
                                 :label="$tc('lengow-connector.setting.lengow_import_setting.ship_mp_enabled.label')"
                                 v-model="lengowImportShipMpEnabled"
                                 @change="onSaveSettings($event, 'lengowImportShipMpEnabled')">
                </sw-switch-field>
                <sw-help-text class="lgw-help-text"
                              :text="$tc('lengow-connector.setting.lengow_import_setting.decrease_stock.description')"
                              :width="200"
                              tooltipPosition="right"/>
                <sw-switch-field class="text-center"
                                 :label="$tc('lengow-connector.setting.lengow_import_setting.decrease_stock.label')"
                                 :disabled="!lengowImportShipMpEnabled"
                                 v-model="lengowImportStockShipMp"
                                 @change="onSaveSettings($event, 'lengowImportStockShipMp')">
                </sw-switch-field>
                <sw-help-text class="lgw-help-text"
                              :text="$tc('lengow-connector.setting.lengow_import_setting.return_tracking_number.description')"
                              :width="200"
                              tooltipPosition="right"/>
                <sw-switch-field class="text-center"
                                 :label="$tc('lengow-connector.setting.lengow_import_setting.return_tracking_number.label')"
                                 v-model="lengowSendReturnTrackingNumber"
                                 @change="onSaveSettings($event, 'lengowSendReturnTrackingNumber');onChangeStatus($event, 'lengowSendReturnTrackingNumber')">
                </sw-switch-field>
            </sw-card>
        {% endblock %}
        {% block lgw_setting_import_shipping %}
            <sw-card :title="$tc('lengow-connector.setting.lengow_import_setting.shipping.label')">
                <template v-if="render">
                    <sw-help-text class="lgw-help-text"
                                  :text="$tc('lengow-connector.setting.lengow_import_setting.shipping.description')"
                                  :width="200"
                                  tooltipPosition="right"/>
                    <sw-select-field v-for="salesChannel in salesChannels"
                                     :label="salesChannel.label"
                                     v-model="salesChannel.defaultShippingMethod"
                                     @change="onSaveSettings($event, 'lengowImportDefaultShippingMethod', salesChannel.salesChannelId)">
                        <template v-for="shippingMethod in shippingMethods">
                            <option v-if="salesChannel.salesChannelId === shippingMethod.salesChannelId"
                                    :value="shippingMethod.value">
                                {{ shippingMethod.name }}
                            </option>
                        </template>
                    </sw-select-field>
                </template>
                <template v-else>
                    <sw-loader></sw-loader>
                </template>
            </sw-card>
        {% endblock %}
        {% block lgw_setting_import_other %}
            <sw-card :title="$tc('lengow-connector.setting.title.others')">
                <sw-help-text class="lgw-help-text"
                              :text="$tc('lengow-connector.setting.lengow_import_setting.import_days.description')"
                              :width="200"
                              tooltipPosition="right"/>
                <sw-number-field numberType="int"
                                 :step="null"
                                 :min="1" :max="10"
                                 :value="lengowImportDays"
                                 :digits="2"
                                 :label="$tc('lengow-connector.setting.lengow_import_setting.import_days.label')"
                                 @change="onSaveSettings($event, 'lengowImportDays')">
                </sw-number-field>
                <sw-switch-field class="text-center"
                                 :label="$tc('lengow-connector.setting.lengow_import_setting.report_mail_enabled.label')"
                                 v-model="lengowReportMailEnabled"
                                 @change="onSaveSettings($event, 'lengowReportMailEnabled')">
                </sw-switch-field>
                <lgw-lockable-string-field :fieldContent="lengowReportMailAddress"
                                           :locked="!lengowReportMailEnabled"
                                           :fieldLabel="$tc('lengow-connector.setting.lengow_import_setting.report_mail_address.label')"
                                           :onSaveSettings="onSaveSettings"
                                           settingsKey="lengowReportMailAddress"
                                           :helpText="$tc('lengow-connector.setting.lengow_import_setting.report_mail_address.description')">
                </lgw-lockable-string-field>
                <sw-help-text class="lgw-help-text"
                              :text="$tc('lengow-connector.setting.lengow_import_setting.currency_conversion_title.description')"
                              :width="200"
                              tooltipPosition="right">
                </sw-help-text>
                <sw-switch-field class="text-center"
                                 :label="$tc('lengow-connector.setting.lengow_import_setting.currency_conversion_title.label')"
                                 v-model="lengowCurrencyConversion"
                                 @change="onSaveSettings($event, 'lengowCurrencyConversion')">
                </sw-switch-field>
                <sw-help-text class="lgw-help-text"
                              :text="$tc('lengow-connector.setting.lengow_import_setting.import_btob.description')"
                              :width="200"
                              tooltipPosition="right"/>
                <sw-switch-field class="text-center"
                                 :label="$tc('lengow-connector.setting.lengow_import_setting.import_btob.label')"
                                 v-model="lengowImportB2b"
                                 @change="onSaveSettings($event, 'lengowImportB2b')">
                </sw-switch-field>
                <sw-help-text class="lgw-help-text"
                              :text="$tc('lengow-connector.setting.lengow_import_setting.debug_mode.description')"
                              :width="200"
                              tooltipPosition="right"/>
                <sw-switch-field class="text-center"
                                 :label="$tc('lengow-connector.setting.lengow_import_setting.debug_mode.label')"
                                 v-model="lengowDebugEnabled"
                                 @change="onSaveSettings($event, 'lengowDebugEnabled')">
                </sw-switch-field>
            </sw-card>
        {% endblock %}
        {% block lgw_setting_import_footer %}
            <lgw-footer></lgw-footer>
        {% endblock %}
    </sw-card-view>
{% endblock %}
