{% block lgw_dashboard_free_trial %}
    <template>
        <div class="lgw-dashboard-free-trial">
            <div class="expired-text-block lgw-col-6 text-center">
                    <h2>{{ $tc('lengow-connector.global.title_end_free_trial') }}</h2>
                    <h3>{{ $tc('lengow-connector.global.subtitle_end_free_trial') }}</h3>
                    <p>{{ $tc('lengow-connector.global.first_description_end_free_trial') }}</p>
                    <p>{{ $tc('lengow-connector.global.second_description_end_free_trial') }}</p>
                    <p>{{ $tc('lengow-connector.global.third_description_end_free_trial') }}</p>
                    <sw-button :disabled="false"
                               :square="false"
                               :block="false"
                               :isLoading="false"
                               size="small"
                               class="lgw-btn lgw-free-trial-button"
                               target="_blank"
                               :link="lengow_url">
                        {{ $tc('lengow-connector.global.upgrade_account_button') }}
                    </sw-button>
                    <sw-button :disabled="false"
                               :square="false"
                               :block="false"
                               :isLoading="false"
                               size="small"
                               class="lgw-btn lgw-free-trial-button"
                               target="_blank"
                               @click="reloadAccountStatus">
                        {{ $tc('lengow-connector.global.refresh_action') }}
                    </sw-button>
            </div>
            <div class="lgw-col-6">
                <div class="vertical-center">
                    <img :src="assetFilter('lengowconnector/lengow-blue.png')" alt="lengow" class="center-block">
                </div>
            </div>
        </div>
    </template>
{% endblock %}
