.lgw-col-6 {
    width: 50%;
    float: left;
    flex: 1;
}

.vertical-center {
    margin-top: 50%;
}

.expired-text-block {
    padding-top: 200px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lgw-free-trial-container {
    width: 60%;
    margin: 0 auto;
    background: #F1F1F1;
    padding: 20px;
    height: 990px;
    display: flex;
}

.lgw-free-trial-button {
    margin-top: 20px;
    margin-right: 10px;
}
