{% block lengow_footer %}
    <template>
        <div class="text-center lgw-footer lgw-page">
            <div>
                <p>
                    <routerLink class="lgw-router-link" :to="{ name: 'lengow.connector.legal' }" tag='span'>
                        {{ $tc('lengow-connector.legals.title') }}
                    </routerLink>
                    |  {{ $tc('lengow-connector.footer.lengow_plugin_name') }}
                    <span v-if="preprod" class="lgw-label-preprod">Preprod</span> v {{ moduleVersion }}
                    | copyright © {{ currentYear }} <a href="$tc('lengow-connector.footer.link')">  Lengow </a>
                </p>
            </div>
        </div>
    </template>
{% endblock %}
