{% block lgw_free_trial_warning %}
    <template>
        <span v-if="freeTrialEnabled" class="lgw-free-trial-warning" >
            {{ $tc('lengow-connector.global.trial_1') }}
            {{ dayLeft }}
            {{ $tc('lengow-connector.global.trial_2') }}
        </span>
    </template>
{% endblock %}
