<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Main settings</title>
        <title lang="fr-FR">Paramètres principaux</title>
        <title lang="de-DE">Haupteinstellungen</title>
        <input-field type="text">
            <name>lengowAccountId</name>
            <label>Account ID</label>
            <label lang="fr-FR">ID du compte</label>
            <label lang="de-DE">Account ID</label>
            <placeholder>Account ID</placeholder>
            <helpText>Your Lengow account ID. Please do not change it.</helpText>
            <helpText lang="fr-FR">Votre ID de compte Lengow. Veuillez ne pas le modifier.</helpText>
            <helpText lang="de-DE">Ihr Lengow Account ID. Bitte nicht ändern.</helpText>
        </input-field>
        <input-field type="text">
            <name>lengowAccessToken</name>
            <label>Access Token</label>
            <label lang="fr-FR">Token d'accès</label>
            <label lang="de-DE">Zugangstoken</label>
            <placeholder>This is an accessToken</placeholder>
            <helpText>Your access token. Please do not change it.</helpText>
            <helpText lang="fr-FR">Votre Access Token. Veuillez ne pas le modifier.</helpText>
            <helpText lang="de-DE">Ihr Lengow-Zugangstoken. Bitte nicht ändern.</helpText>
        </input-field>
        <input-field type="text">
            <name>lengowSecretToken</name>
            <label>Secret Token</label>
            <label lang="fr-FR">Token secret</label>
            <label lang="de-DE">Geheimtoken</label>
            <placeholder>This is a secretToken</placeholder>
            <helpText>Your secret token. Please do not change it.</helpText>
            <helpText lang="fr-FR">Votre Secret Token. Veuillez ne pas le modifier.</helpText>
            <helpText lang="de-DE">Ihr Geheimtoken. Bitte nicht ändern.</helpText>
        </input-field>
        <component name="sw-switch-field">
            <name>lengowChannelActive</name>
            <label>Enable shop</label>
            <label lang="fr-FR">Activer la boutique</label>
            <label lang="de-DE">Shop aktivieren</label>
            <helpText>Enable shop to work with Lengow</helpText>
            <helpText lang="fr-FR">Activer la boutique pour la connecter à la plateforme Lengow</helpText>
            <helpText lang="de-DE">Verbindung zwischen Lengow und Shop aktivieren</helpText>
            <defaultValue>0</defaultValue>
        </component>
        <component name="sw-tagged-field">
            <name>lengowCatalogId</name>
            <label>Catalogues ID</label>
            <label lang="fr-FR">Catalogues ID</label>
            <label lang="de-DE">Katalog-ID</label>
            <helpText>Your catalogues ID to import orders.\nSeparate them by pressing enter</helpText>
            <helpText lang="fr-FR">Vos ID catalogues pour importer les commandes.\nSéparez-les par des ' ; '</helpText>
            <helpText lang="de-DE">Ihre Katalog-ID für den Import von Bestellungen.\nGetrennt durch ' ; '</helpText>
        </component>
        <component name="sw-switch-field">
            <name>lengowIpEnabled</name>
            <label>Enable authorisation by IP</label>
            <label lang="fr-FR">Activer l'autorisation par IP</label>
            <label lang="de-DE">Aktivieren Sie die Autorisierung über IP</label>
            <helpText>Enable this option if you want your export to be secured by IP. By default, your export is secured by a unique key.</helpText>
            <helpText lang="fr-FR">Activez cette option si vous voulez sécuriser votre export par ip. Par défaut, votre export est sécurisé par une clé unique.</helpText>
            <helpText lang="de-DE">Aktivieren Sie diese Option, wenn Sie Ihren Export über IP sichern wollen. Standartmäßig ist ihr Export über einen Sicherheitsschlüssel gespeichert.</helpText>
            <defaultValue>0</defaultValue>
        </component>
        <component name="sw-tagged-field">
            <name>lengowAuthorizedIp</name>
            <label>Ips autorisées</label>
            <label lang="fr-FR">IP autorisée(s)</label>
            <label lang="de-DE">Autorisierte IP-Adressen</label>
            <helpText>Authorise IP to get access to your export feed.\nSeparate them ' ; '</helpText>
            <helpText lang="fr-FR">IP autorisée(s) à accéder à votre flux d'export.\nSéparez-les par ' ; '</helpText>
            <helpText lang="de-DE">Zugang zum Export Feed für die folgende IP-Adressen freigeben.\nGetrennt durch ;</helpText>
        </component>
        <component name="sw-switch-field">
            <name>lengowTrackingEnable</name>
            <label>Enable Lengow tracking</label>
            <label lang="fr-FR">Activer le tracker Lengow</label>
            <label lang="de-DE">Aktivieren Sie den Lengow-Tracker</label>
            <helpText>This tracker allows you to retrieve order statistics generated on your site directly in Lengow.</helpText>
            <helpText lang="fr-FR">Ce tracker vous permet de récupérer les statistiques de commandes de votre site directement sur la plateforme Lengow.</helpText>
            <helpText lang="de-DE">Mit diesem Tracker können Sie die auf Ihrer Website generierten Bestellstatistiken direkt in Lengow abrufen.</helpText>
            <defaultValue>0</defaultValue>
        </component>
        <component name="sw-text-field">
            <name>lengowTrackingId</name>
            <label>Tracker Product ID</label>
            <label lang="fr-FR">Tracker ID produit</label>
            <label lang="de-DE">Tracker Product ID</label>
            <Defaultvalue>Reference</Defaultvalue>
            <helpText>The name of the unique identifier entered in the Lengow</helpText>
            <helpText lang="fr-FR">Le nom de l'identifiant unique indiqué dans Lengow</helpText>
            <helpText lang="de-DE">Der Name der eindeutigen Kennung, die in Lengow angegeben ist</helpText>
        </component>
    </card>
    <card>
        <title>Export settings</title>
        <title lang="fr-FR">Paramètres d'exportation</title>
        <title lang="de-DE">Exporteinstellungen</title>
        <component name="sw-switch-field">
            <name>lengowExportDisabledProduct</name>
            <label>Export inactive products</label>
            <label lang="fr-FR">Export des produits inactifs</label>
            <label lang="de-DE">Inaktive Produkte exportieren</label>
            <helpText>Enable this option if you want to export inactive products</helpText>
            <helpText lang="fr-FR">Activez cette option si vous souhaitez exporter les produits inactifs</helpText>
            <helpText lang="de-DE">Verwenden Sie diese Option, um inaktive Produkte zu exportieren</helpText>
            <defaultValue>0</defaultValue>
        </component>
        <component name="sw-switch-field">
            <name>lengowExportSelectionEnabled</name>
            <label>Export specific products only</label>
            <label lang="fr-FR">Exporter seulement les produits sélectionnés</label>
            <label lang="de-DE">Nur bestimmte Produkte exportieren</label>
            <helpText>Activate this option if you do not want to export all of your avaible products. Then select your products one by one.</helpText>
            <helpText lang="fr-FR">Activez cette option si vous ne voulez pas exporter tous vos produits disponibles. Sélectionnez ensuite les produits un par un.</helpText>
            <helpText lang="de-DE">Aktivieren Sie diese Option, wenn Sie nicht alle verfügbare Produkte exportieren möchten. Danach Ihre Produkte einzeln auswählen.</helpText>
            <defaultValue>0</defaultValue>
        </component>
        <component name="sw-single-select">
            <name>lengowDefaultDispatcher</name>
            <options>
                <option>
                    <id>opt1</id>
                    <name>option 1</name>
                </option>
                <option>
                    <id>opt2</id>
                    <name>option 2</name>
                </option>
            </options>
            <defaultValue>opt1</defaultValue>
            <label>Default carrier</label>
            <label lang="fr-FR">Transporteur par défaut</label>
            <label lang="de-DE">Default-Carrier</label>
            <helpText>Select the default carrier to calculate shipping costs</helpText>
            <helpText lang="fr-FR">Sélectionnez un transporteur par défaut pour calculer les frais de livraison</helpText>
            <helpText lang="de-DE">Wählen Sie den Standard-Zulieferer um die Versandkosten zu berechen</helpText>
        </component>
    </card>
    <card>
        <title>Import settings</title>
        <title lang="fr-FR">Paramètres d'importation</title>
        <title lang="de-DE">Importeinstellungen</title>
        <component name="sw-switch-field">
            <name>lengowImportShipMpEnabled</name>
            <label>Import orders shipped by marketplaces</label>
            <label lang="fr-FR">Importez les commandes expédiées par les marketplaces</label>
            <label lang="de-DE">Durch einen Marktplatz versandte Bestellungen importieren</label>
            <defaultValue>0</defaultValue>
        </component>
        <component name="sw-switch-field">
            <name>lengowImportStockMpEnabled</name>
            <label>Decrease my stock with the orders shipped by marketplaces</label>
            <label lang="fr-FR">Décrémenter les stocks des commandes expédiées par les marketplaces</label>
            <label lang="de-DE">"Lagerbestand verringern für Bestellungen, die durch einen Marktplatz versandt werden</label>
            <helpText>Use this option to take into account your orders sent by marketplaces on your stock in your Shopware backoffice</helpText>
            <helpText lang="fr-FR">Activez cette option pour prendre en compte les commandes des marketplaces sur les stocks de votre backoffice Shopware.</helpText>
            <helpText lang="de-DE">Verwenden Sie diese Option, damit Bestellungen auf Marktplätzen in Ihrem Shopware-Backoffice einbezogen werden</helpText>
            <defaultValue>0</defaultValue>
        </component>
        <component name="sw-single-select">
            <name>lengowImportDefaultDispatcher</name>
            <options>
                <option>
                    <id>opt1</id>
                    <name>option 1</name>
                </option>
                <option>
                    <id>opt2</id>
                    <name>option 2</name>
                </option>
            </options>
            <defaultValue>opt1</defaultValue>
            <label>Default carrier</label>
            <label lang="fr-FR">Transporteur par défaut</label>
            <label lang="de-DE">Standard-Zulieferer</label>
            <helpText>Select the default carrier that you would like to apply to your orders</helpText>
            <helpText lang="fr-FR">Sélectionnez le transporteur par défaut à appliquer à vos commandes.</helpText>
            <helpText lang="de-DE">Wählen Sie den Standard-Zulieferer aus, den Sie für Ihre Bestellungen verwenden wollen</helpText>
        </component>
        <component name="sw-number-field">
            <name>lengowImportDays</name>
            <label>Synchronize all orders updated since</label>
            <label lang="fr-FR">Synchroniser les commandes misent à jour depuis X jours (max 10)</label>
            <label lang="de-DE">Synchronisieren Sie alle Bestellungen, die seit aktualisiert wurden</label>
            <helpText>Choose a number of days (Max 10 days)</helpText>
            <helpText lang="fr-FR">Choisissez le nombre de jours (Max 10 jours)</helpText>
            <helpText lang="de-DE">Anzahl der Tage auswählen (Max. 10 Tage)</helpText>
            <defaultValue>3</defaultValue>
        </component>
        <component name="sw-switch-field">
            <name>lengowImportDebugEnabled</name>
            <label>Activate debug mode</label>
            <label lang="fr-FR">Activer le Debug Mode</label>
            <label lang="de-DE">Debug Mode aktivieren</label>
            <helpText>Use Debug Mode for testing and to simulate fictitious orders. Please note that you have to activate this setting on your pre-production server ONLY</helpText>
            <helpText lang="fr-FR">Utilisez le Debug Mode pour tester et simuler des commandes fictives. Pour rappel, vous devez activer ce paramètre UNIQUEMENT sur votre serveur de préproduction</helpText>
            <helpText lang="de-DE">Dieser Modus zur Prüfung und Auftragsimulation verwenden. Diese Einstellung NUR auf Ihrem Pre-Production Server aktivieren</helpText>
            <defaultValue>0</defaultValue>
        </component>
        <component name="sw-switch-field">
            <name>lengowImportReportMailEnabled</name>
            <label>I would like to be notified when there are issues regarding order importation</label>
            <label lang="fr-FR">Je veux être notifié en cas de problème lors de l'importation de mes commandes</label>
            <label lang="de-DE">Bei Problemen während des Importes der Bestellungen möchte ich benachrichtigt werden</label>
            <defaultValue>1</defaultValue>
        </component>
        <component name="sw-tagged-field">
            <name>lengowImportReportMailAddress</name>
            <label>Mail for the report email</label>
            <label lang="fr-FR">Email de contact</label>
            <label lang="de-DE">Emailaddresse für den Email-Report</label>
            <helpText>Email separated by ;</helpText>
            <helpText lang="fr-FR">Email séparé par ;</helpText>
            <helpText lang="de-DE">Email getrennt durch ;</helpText>
        </component>
        <component name="sw-switch-field">
            <name>lengowCurrencyConversion</name>
            <label>Convert the currency of your order</label>
            <label lang="fr-FR">Conversion de montant de la commande</label>
            <label lang="de-DE">Konvertieren Sie die Währung Ihrer Bestellung</label>
            <helpText>All orders imported into Shopware will be automatically converted into the currency you've selected in Lengow</helpText>
            <helpText lang="fr-FR">Toutes les commandes importées dans Shopware seront automatiquement converties dans la devise choisie dans Lengow</helpText>
            <helpText lang="de-DE">Alle in Shopware importierten Bestellungen werden automatisch in die Währung umgerechnet, die Sie in Lengow ausgewählt haben.</helpText>
            <defaultValue>1</defaultValue>
        </component>
    </card>
    <card>
        <title>Order Status</title>
        <title lang="fr-FR">Statuts de commande</title>
        <title lang="de-DE">Lieferstatus</title>
        <input-field type="single-select">
            <name>lengowIdWaitingShipment</name>
            <options>
                <option>
                    <id>open</id>
                    <name>open</name>
                </option>
                <option>
                    <id>opt2</id>
                    <name>option 2</name>
                </option>
            </options>
            <defaultValue>open</defaultValue>
            <placeholder>open</placeholder>
            <label>Orders in preparation</label>
            <label lang="fr-FR">Statut en attente d'envoi</label>
            <label lang="de-DE">Lieferung in Vorbereitung</label>
        </input-field>
        <input-field type="single-select">
            <name>lengowIdShipped</name>
            <options>
                <option>
                    <id>shipped</id>
                    <name>shipped</name>
                </option>
                <option>
                    <id>opt2</id>
                    <name>option 2</name>
                </option>
            </options>
            <defaultValue>shipped</defaultValue>
            <placeholder>shipped</placeholder>
            <label>Shipped orders</label>
            <label lang="fr-FR">Statut envoyé</label>
            <label lang="de-DE">Versandte Bestellungen</label>
        </input-field>
        <input-field type="single-select">
            <name>lengowIdCanceled</name>
            <options>
                <option>
                    <id>cancelled</id>
                    <name>cancelled</name>
                </option>
                <option>
                    <id>opt2</id>
                    <name>option 2</name>
                </option>
            </options>
            <defaultValue>cancelled</defaultValue>
            <placeholder>cancelled</placeholder>
            <label>Cancelled orders</label>
            <label lang="fr-FR">Statut annulé</label>
            <label lang="de-DE">Stornierte Bestellungen</label>
        </input-field>
        <input-field type="single-select">
            <name>lengowIdShippedByMp</name>
            <options>
                <option>
                    <id>opt1</id>
                    <name>option 1</name>
                </option>
                <option>
                    <id>opt2</id>
                    <name>option 2</name>
                </option>
            </options>
            <defaultValue>opt1</defaultValue>
            <label>Orders shipped by marketplace</label>
            <label lang="fr-FR">Statut commande expédié par la marketplace</label>
            <label lang="de-DE">Bestellung von Marktplatz versandt</label>
        </input-field>
    </card>
</config>
