{% block lgw_country_icon %}
    <template>
        <div v-if="countryIso !== ''" class="lgw-country-icon">
            <img v-show="!isLoading"
                 @load="loaded"
                 :src="assetFilter('lengowconnector/flag/'+countryIso+'.png')"
                 :alt="countryName"
                 :title="countryName">
            <sw-loader v-show="isLoading" size="14px"></sw-loader>
        </div>
    </template>
{% endblock %}
