{% block lgw_lockable_string_field %}
    <template>
        <div>
            <sw-help-text class="lgw-help-text"
                          v-if="helpText"
                          :text="helpText"
                          :width="200"
                          tooltipPosition="right">
            </sw-help-text>
            <sw-text-field
                :copyable="false"
                :copyableTooltip="false"
                :disabled="locked"
                @change="handleChange($event)"
                :placeholder="fieldPlaceholder"
                :label="fieldLabel"
                :value="fieldContent">
            </sw-text-field>
        </div>
    </template>
{% endblock %}
