{% block lgw_footer %}
    <div class="lgw-footer">
        <div>
            <p>
                <router-link class="lgw-router-link" :to="{ name: 'lengow.connector.setting' }">
                    {{ $tc('lengow-connector.page.settings') }}
                </router-link>
                |
                <router-link class="lgw-router-link" :to="{ name: 'lengow.connector.toolbox' }">
                    {{ $tc('lengow-connector.page.toolbox') }}
                </router-link>
                | <router-link class="lgw-router-link" :to="{ name: 'lengow.connector.legal' }">
                    {{ $tc('lengow-connector.legals.title') }}
                </router-link>
                |  {{ $tc('lengow-connector.footer.lengow_plugin_name') }}
                <span v-if="preprod" class="lgw-label-preprod">Sandbox</span> v {{ moduleVersion }}
                | copyright © {{ currentYear }}
                <a :href="$tc('lengow-connector.footer.link')" target="_blank">  Lengow </a>
            </p>
        </div>
    </div>
{% endblock %}
