{% block lgw_contact %}
    <sw-page class="lgw-contact" :showSearchBar="false">
        {% block lgw_contact_smart_bar_header %}
            <template #smart-bar-header>
                {% block lgw_contact_smart_bar_header_title %}
                    <h2>
                        {% block lgw_contact_smart_bar_header_title_text %}
                            {{ $tc('lengow-connector.page.help') }}
                            <lgw-debug-warning></lgw-debug-warning>
                            <lgw-update-warning></lgw-update-warning>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block lgw_contact_content %}
            <sw-card-view slot="content">
                <sw-card>
                    <h2>{{ $tc('lengow-connector.contact.title') }}</h2>
                    <p>
                        <br/>
                        {{ $tc('lengow-connector.contact.contain_text_support') }}
                        <a :href="$tc('lengow-connector.contact.link_lengow_support')" target="_blank">
                            {{ $tc('lengow-connector.contact.title_lengow_support') }}
                        </a>
                        <br/><br/>
                        {{ $tc('lengow-connector.contact.contain_text_support_hour') }}
                        <br/><br/>
                        {{ $tc('lengow-connector.contact.find_answer') }}
                        <a :href="$tc('lengow-connector.contact.knowledge_link_url')" target="_blank">
                            {{ $tc('lengow-connector.contact.link_magento_guide') }}
                        </a>
                    </p>
                </sw-card>
                <lgw-footer></lgw-footer>
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
