.lgw-contact .sw-card__content {
  text-align: center;
  padding: 45px 60px 70px;
}

.lgw-contact h2 {
  font-size: 23px;
  margin: 15px 0 30px;
}

.lgw-contact a {
  color: #00aeef;
  text-decoration: none;
}
