{% block lgw_connection %}
    <sw-page class="lgw-connection" :showSearchBar="false">
        {% block lgw_connection_smart_bar_header %}
            <template #smart-bar-header>
                {% block lgw_connection_smart_bar_header_title %}
                    <h2>
                        {% block lgw_connection_smart_bar_header_title_text %}
                            <template v-if="!isLoading">
                                {{ $tc('lengow-connector.page.connection') }}
                            </template>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block lgw_connection_content %}
            <template #content>
                <sw-card-view v-if="isNew && !isLoading">
                    {% block lgw_connection_content_view %}
                        <router-view></router-view>
                    {% endblock %}
                    {% block lgw_toolbox_content_footer %}
                        <lgw-footer v-if="!isLoading"></lgw-footer>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
