{% block lgw_conditionnal_string_field %}
    <template>
        <div>
            <sw-help-text class="lgw-help-text"
                          v-if="switchHelpText"
                          :text="switchHelpText"
                          :width="200"
                          tooltipPosition="right"/>
            <sw-switch-field class="text-center"
                             :label="switchLabel"
                             v-model="locked"
                             @change="onSaveSettings($event, switchSettingsKey, settingsSalesChannelId)">
            </sw-switch-field>
            <lgw-lockable-string-field :fieldContent="fieldContent"
                                       :locked="isLocked"
                                       :fieldPlaceholder="fieldPlaceholder"
                                       :fieldLabel="fieldLabel"
                                       :onSaveSettings="onSaveSettings"
                                       :settingsKey="fieldSettingsKey"
                                       :helpText="helpText"
                                       :settingsSalesChannelId="settingsSalesChannelId">
            </lgw-lockable-string-field>
        </div>
    </template>
{% endblock %}
