.lgw-toolbox .lgw-description-list-element dt {
  padding: 4px;
  border-bottom: none;
}

.lgw-toolbox .lgw-description-list-element dd {
  padding: 4px;
  border-bottom: none;
  margin-bottom: 10px;
}