.lgw-toolbox .lgw-list-left {
  float: left;
  width: 50%;
}

.lgw-toolbox .lgw-list-right {
  float: right;
  width: 50%;
}

.lgw-toolbox .lgw-list ul {
  list-style: none;
  font-size: 14px;
  line-height: 15px;
}

.lgw-toolbox .lgw-list li {
  margin-bottom: 15px;
}

.lgw-toolbox .lgw-list h6 {
  font-weight: 600 !important;
  font-size: 14px !important;
  margin-bottom: 5px;
}

.lgw-toolbox .lgw-list-separator {
  height: 1px;
  background-color: #d1d9e0;
  margin: 20px 0;
}

.lgw-toolbox .lgw-clearfix {
  clear: both;
}
