{% block lgw_toolbox %}
    <sw-page class="lgw-toolbox" :showSearchBar="false">
        {% block lgw_toolbox_smart_bar_header %}
            <template #smart-bar-header>
                {% block lgw_toolbox_smart_bar_header_title %}
                    <h2>
                        {% block lgw_toolbox_smart_bar_header_title_text %}
                            {{ $tc('lengow-connector.page.toolbox') }}
                            <lgw-debug-warning></lgw-debug-warning>
                            <lgw-update-warning></lgw-update-warning>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block lgw_toolbox_content %}
            <sw-card-view slot="content">
                {% block lgw_toolbox_content_tabs %}
                    <sw-tabs>
                        {% block lgw_toolbox_content_tabs_base %}
                            <sw-tabs-item :route="{ name: 'lengow.connector.toolbox.base' }"
                                          title="$tc('lengow-connector.toolbox.menu.overview')">
                                {{ $tc('lengow-connector.toolbox.menu.overview') }}
                            </sw-tabs-item>
                        {% endblock %}

                        {% block lgw_toolbox_content_tabs_checksum %}
                            <sw-tabs-item :route="{ name: 'lengow.connector.toolbox.checksum' }"
                                          title="{{ $tc('lengow-connector.toolbox.menu.checksum') }}">
                                {{ $tc('lengow-connector.toolbox.menu.checksum') }}
                            </sw-tabs-item>
                        {% endblock %}
                    </sw-tabs>
                {% endblock %}

                {% block lgw_toolbox_content_view %}
                    <router-view></router-view>
                {% endblock %}

                {% block lgw_toolbox_content_footer %}
                    <lengow-footer></lengow-footer>
                {% endblock %}
            </sw-card-view>
        {% endblock %}
    </sw-page>
{% endblock %}
