{% block lgw_setting %}
    <sw-page :showSearchBar="false" class="lgw-setting">
        {% block lgw_setting_smart_bar_header %}
            <template #smart-bar-header>
                {% block lgw_setting_smart_bar_header_title %}
                    <h2>
                        {% block lgw_setting_smart_bar_header_title_text %}
                            {{ $tc('lengow-connector.page.settings') }}
                            <lgw-debug-warning></lgw-debug-warning>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}
        {% block lgw_setting_content %}
            <template #content>
            <sw-card-view>
                {% block lgw_setting_content_tabs %}
                    <sw-tabs v-if="configLoaded">
                        {% block lgw_toolbox_content_tabs_general %}
                            <sw-tabs-item :title="$tc('lengow-connector.setting.nav_bar.general')"
                                          @click="onChangeSelectedTab('general')">
                                {{ $tc('lengow-connector.setting.nav_bar.general') }}
                            </sw-tabs-item>
                        {% endblock %}
                        {% block lgw_setting_content_tabs_export %}
                            <sw-tabs-item :title="$tc('lengow-connector.setting.nav_bar.export')"
                                          @click="onChangeSelectedTab('export')">
                                {{ $tc('lengow-connector.setting.nav_bar.export') }}
                            </sw-tabs-item>
                        {% endblock %}
                        {% block lgw_setting_content_tabs_import %}
                            <sw-tabs-item :title="$tc('lengow-connector.setting.nav_bar.import')"
                                          @click="onChangeSelectedTab('import')">
                                {{ $tc('lengow-connector.setting.nav_bar.import') }}
                            </sw-tabs-item>
                        {% endblock %}
                    </sw-tabs>
                {% endblock %}
                {% block lgw_setting_content_view %}
                    <keep-alive v-if="configLoaded">
                        <div>
                            <lgw-setting-general v-if="selectedTabGeneral"
                                                 :config="config"
                                                 :onSaveSettings="onSaveSettings"
                                                 :key="generalSettingsKey">
                            </lgw-setting-general>
                            <lgw-setting-export v-if="selectedTabExport"
                                                :config="config"
                                                :onSaveSettings="onSaveSettings">
                            </lgw-setting-export>
                            <lgw-setting-import v-if="selectedTabImport"
                                                :config="config"
                                                :onSaveSettings="onSaveSettings">
                            </lgw-setting-import>
                        </div>
                    </keep-alive>
                {% endblock %}
                {% block lgw_setting_content_loader %}
                    <sw-loader v-if="!configLoaded"></sw-loader>
                {% endblock %}
            </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
