#lgw-sync-data {
  position: relative;
  height: 60px;
  font-size: 14px;
  padding-top: 5px;
}

#lgw-order-grid .sw-data-grid__cell,
#lgw-order-grid .sw-data-grid__cell-content {
  overflow: visible;
}


.blue-frame {
  display: inline-block;
  border-radius: 3px;
  margin: 5px 15px 5px 0;
  padding: 4px 8px;
  background: #cdf1ff;
  border: 1px solid #00aeef;
  color: #2e6592;
  font-size: 12px;
}

.sw-page .smart-bar__header h2 {
  font-size: 22px !important;
}

.sw-page .smart-bar__header h2 .blue-frame {
  font-weight: normal !important;
}
