.lgw-order-detail-extension .sw-card__content {
  padding: 0;
}

.lgw-order-detail-extension dt {
  padding: 4px;
  border-bottom: none;
}

.lgw-order-detail-extension dd {
  padding: 4px;
  border-bottom: none;
  margin-bottom: 10px;
}

.lgw-order-detail-extension textarea.lgw-text-wrapper {
  width:100%;
  border-color: #52667a;
  color: #52667a;
  font-size: 12px !important;
  margin:5px 0;
  padding:3px;
  resize: none;
}

.lgw-order-detail-extension .lgw-order-detail-button-row {
  width:100%;
  font-size: 14px;
  padding-top: 30px;
  padding-right: 30px;
  min-height: 30px;
}

.lgw-order-detail-extension .lgw-order-detail-button {
  float: right;
  margin-left: 10px;
}

.lgw-order-detail-extension .lgw-not-lgw-order {
  padding: 30px;
  margin: 0;
  font-weight: 600 !important;
  font-size: 14px !important;
}
