{% block lgw_order_state_label %}
    <template>
        <span class="lgw-order-state-label" :class="orderStateClass">
            {{ orderStateTranslation }}
        </span>
    </template>
{% endblock %}