{% block lgw_setting_export %}
    <template>
        <div class="lgw-setting-container">
            <div class="lgw-setting-block-title">
                <h3>|  {{ $tc('lengow-connector.settings.title.exclusions') }}</h3>
            </div>
            <div class="lgw-setting-block" v-if="render">
                <div>
                    <sw-help-text class="lgw-help-text"
                                  :text="$tc('lengow-connector.settings.lengow_export_settings.disabled_products.description')"
                                  :width="200"
                                  tooltipPosition="right"/>
                    <h4>{{ $tc('lengow-connector.settings.lengow_export_settings.disabled_products.label') }}</h4>
                    <template v-for="salesChannel in salesChannels">
                        <sw-switch-field class="text-center"
                                         :label="salesChannel.name"
                                         v-model="salesChannel.exportDisabled"
                                         @change="onSaveSettings($event, 'lengowExportDisabledProduct', salesChannel.salesChannelId)">
                        </sw-switch-field>
                    </template>
                    <sw-help-text class="lgw-help-text"
                                  :text="$tc('lengow-connector.settings.lengow_export_settings.lengow_selection.description')"
                                  :width="200"
                                  tooltipPosition="right"/>
                    <h4>{{ $tc('lengow-connector.settings.lengow_export_settings.lengow_selection.label') }}</h4>
                    <template v-for="salesChannel in salesChannels">
                        <sw-switch-field class="text-center"
                                         :label="salesChannel.name"
                                         v-model="salesChannel.exportSelection"
                                         @change="onSaveSettings($event, 'lengowSelectionEnabled', salesChannel.salesChannelId)">
                        </sw-switch-field>
                    </template>
                </div>
            </div>
            <template v-else>
                <sw-loader size="50px"></sw-loader>
            </template>
            <div class="lgw-setting-block-title">
                <h3>|  {{ $tc('lengow-connector.settings.lengow_export_settings.shipping.label') }}</h3>
            </div>
            <div class="lgw-setting-block" v-if="render">
                <div>
                    <sw-help-text class="lgw-help-text"
                                  :text="$tc('lengow-connector.settings.lengow_export_settings.shipping.description')"
                                  :width="200"
                                  tooltipPosition="right"/>
                    <sw-select-field v-for="salesChannel in salesChannels"
                                     :label="salesChannel.name"
                                     v-model="salesChannel.defaultShippingMethod"
                                     @change="onSaveSettings($event, 'lengowExportDefaultShippingMethod', salesChannel.salesChannelId)">
                        <template v-for="shippingMethod in shippingMethods">
                            <option v-if="salesChannel.salesChannelId === shippingMethod.salesChannelId"
                                    :value="shippingMethod.value">
                                {{ shippingMethod.name }}
                            </option>
                        </template>
                    </sw-select-field>
                </div>
            </div>
            <template v-else>
                <sw-loader size="50px"></sw-loader>
            </template>
        </div>
    </template>
{% endblock %}
