.lgw-catalog-select {
  border-radius: 4px;
  border: 1px solid #d1d9e0;
  display: block;
  position: relative;
  margin-bottom: 20px;
  padding: 20px 20px 40px;
}

.lgw-catalog-select li {
  margin-right: 5px;
}

.lgw-catalog-select h4 {
  margin-bottom: 10px;
}

.lgw-catalog-select .sw-field {
  margin-bottom: 0;
}